<div class="contt">
  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
        <div class="span4 table-bordered product-item">
          <strong>Colchão Bigg Sonno Fisioquântico</strong>
          <%= image_tag "biggsonno.jpg" %>
          Com:
          <div class="bs-docs-example">
            <ul>
              <li>10 Anos de garantia no colchão</li>
              <li>Vibroterapia (Massagem)</li>
              <li>Terapia Quântica</li>
              <li>Photonterapia (Infravermelho Longo)</li>
              <li>Magnétoterapia (Ímãs)</li>
            </ul>
          </div>
        </div>
        <div class="span4 table-bordered product-item">
          <strong>Colchão Bigg Sonno Prime</strong>
          <%= image_tag "biggsonno_prime.jpg" %>
          Com:
          <div class="bs-docs-example">
            <ul>
              <li>10 anos de garantia no colchão</li>
              <li>Photonterapia (Infravermelho Longo)</li>
              <li>Magnétoterapia (Ímãs)</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
            </ul>
          </div>
        </div>
        <div class="span4 table-bordered product-item">
          <strong>Colchão Bigg Sonno Imag Plus</strong>
          <%= image_tag "biggsonno_imag.jpg" %>
          Com:
          <div class="bs-docs-example">
            <ul>
              <li>5 anos de garantia no colchão</li>
              <li>Photonterapia (Infravermelho Longo)</li>
              <li>Magnétoterapia (Ímãs)</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="cb"></div>

      <div class="row-fluid">
        <div class="span6">
          <iframe width="470" height="320" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Bigg%20Sonno%20Colch%C3%B5es%20Infra%20Vermelho%20e%20Magn%C3%A9tico%20-%20Rua%20C%2C%20Goi%C3%A2nia%20-%20Goi%C3%A1s%2C%20Brasil&amp;key=AIzaSyBHUiV5j8fAfkolMeedPVh6tQALKThCAyg"></iframe>
        </div>
        <div class="span6">
          <h4 id="title_contact">Agende uma visita</h4>
          <%= form_for(:contact, :authenticity_token => true) do |f| %>
            <%= f.text_field :name, :class => "span12", :placeholder => "Nome" %>
            <%= f.text_field :ddd , :class => "span2" , :placeholder => "DDD", :maxlength => "3" %>
            <%= f.text_field :telefone , :class => "span10", :placeholder => "Telefone", :maxlength => "10" %>
            <%= f.text_area  :message  , :class => "span12", :placeholder => "Mensagem", :rows => "8" %>
            <div align="left">
              <%= f.submit 'Enviar', :id => 'submitContact', :class => 'btn' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="cb"></div>

  <div class="pcp_btt_bx">
    <div class="pcp_btt_bx_r" align="left">
      <p class="pcp_btt_bx_r_es"> Recomendação Médica </p>
      <p class="pcp_btt_bx_r_txt">Portadores de marcapasso devem utilizar somente os aparelhos com infravermelho
        Longo. Gestantes não devem fazer uso da massagem vibratória mas podem utilizar
        a "energia quântica". (Dúvidas, consultar o seu Médico). Os aparelhos não
        substituem as terapêuticas tradicionais ou orientação médica.</p>
    </div>
    <div class="cb"></div>
  </div>
</div>
